{% extends "content.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">

            <p class="text-center">
                Przejrzyj dostępne dania:
                {% for name, url in container.config.culinary.images %}
                    <a href="{{ url }}" class="_gallery">{{ name }}</a>,
                {% endfor %}
            </p>

            {% if alreadyDeclared %}
                <div id="already-declared" class="well text-center">
                    <p>Twoja deklaracja została już złożona</p>

                    <a href="/culinary/cancel-declaration" type="submit" class="btn btn-warning">
                        Cofnij deklarację
                    </a>

                    <a id="edit-declaration" href="#" type="submit" class="btn btn-primary">
                        Edytuj deklarację
                    </a>
                </div>
            {% endif %}

            <div id="form" class="well" style="{{ alreadyDeclared ? 'display: none;' : '' }}">
                {% include "culinary/form.twig" %}
            </div>

            {% include "culinary/projections.twig" %}

            <div class="well">
                {% if projections | length == 0 %}
                    <div class="text-center">Nikt się jeszcze nie zadeklarował</div>
                {% elseif undeclaredEmployees | length > 0 %}
                    <h3>Kto się jeszcze nie zadeklarował:</h3>
                    <ul>
                        {% for employee in undeclaredEmployees %}
                            <li>{{ employee }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="text-center">Wszystkie wprowadzone osoby już się zadeklarowały</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('._gallery').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
            $('#edit-declaration').click(function () {
                $('#form').show();
                $('#already-declared').hide();
            });
        });
    </script>
{% endblock %}
